{% extends "@EdgarEzTFA/profile/tfa/view.html.twig" %}

{% block profilecontent %}

    {{ form_start(form, {'action': actionUrl, "attr": {"data-request": authenticationData|raw, "data-action": "auth", "id": "u2fForm", "class": "pure-form pure-form-aligned"}}) }}

        <div id="u2fpressbutton" style="display: none;">
            {% trans %}
            Press Button on token
            {% endtrans %}
        </div>
        <p class="widget">
            {{ form_widget(form._auth_code, { 'id': '_auth_code' }) }}
        </p>
        <div id="u2fError"></div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% javascripts
        '@EdgarEzTFABundle/Resources/public/js/auth.js'
        '@EdgarEzTFABundle/Resources/public/js/u2f-api.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
