{% extends "@EdgarEzTFA/profile/tfa/base_login.html.twig" %}

{% block auth_form %}

    {{ form_start(form, {'action': actionUrl, "attr": {"data-request": authenticationData|raw, "data-action": "auth", "id": "u2fForm", "class": "pure-form pure-form-aligned"}}) }}

        <p id="u2fpressbutton" style="display: none;">
            {% trans %}
                Press Button on token
            {% endtrans %}
        </p>
        <fieldset>
            <div class="form-group">
                {{ form_widget(form._auth_code, { 'id': '_auth_code' }) }}
            </div>
        </fieldset>
        <div id="u2fError"></div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% javascripts
        '@EdgarEzTFABundle/Resources/public/js/auth.js'
        '@EdgarEzTFABundle/Resources/public/js/u2f-api.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
