{% extends "@EdgarEzTFA/profile/tfa/view.html.twig" %}

{% form_theme form '@EzPlatformAdminUi/content/form_fields.html.twig'  %}

{% block profilecontent %}

    {{ form_start(form, {'action': actionUrl, "attr": {"class": "pure-form pure-form-aligned"}}) }}

        <section class="container mt-4" id="u2fkeyname">
            <div class="card ez-card">
                <div class="card-body">
                    {{ form_row(form.phone) }}
                </div>
            </div>

            <span class="input-group-btn">
                {{ form_widget(form.register) }}
            </span>
        </section>

    {{ form_end(form) }}

{% endblock %}
